//COLORS

$color-bt-purple: #6400AA;
$color-bt-white: #FFFFFF;
$color-bt-pink: #E60050;
$color-bt-blue: #00A0D6;
$color-bt-red: #E60014;
$color-bt-green: #008A00;
$color-bt-yellow: #FFDC00;
$color-bt-dark-grey: #333333;
$color-bt-medium-grey: #666666;
$color-bt-light-grey: #DDDDDD;
